/* 스킵 메뉴 */
#skip {
    position: relative;
    z-index: 10000;
}
#skip a {
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: absolute;
    left: 0;
    top: -80px;
}
#skip a:active,
#skip a:focus {
    top: 0;
}

/* 가운데 영역 */
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

/* 
    01. 자바스크립트 데이터 저장하기 / 데이터 불러오기 시험
    02. 퀴즈 1~4번 밑줄 시험 / 모바일 최적화
    03. 자바스크립트 메서드 배열 객체 / 문자열 객체 6개 정리
    04. 사이트 모바일 최적화 코딩 / 피그마 검사
    05. 정보처리기능사(2011_5회 / 웹디자인 기능사(2016_4회) : 70점 이상
*/