@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;500&display=swap');

#wrap {
    width: 100%;
    height: 100vh;
}
#wrap.bg01 {
    background-image: url(../img/bg01.jpg);
    background-size: cover;
    background-color: #000;
    background-position: center center;
}

.icon__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.icon__menu img {
    width: 80px;
    height: 80px;
}
.icon__menu a {
    transition: all 0.3s;
}
.icon__menu a:hover {
    scale: 1.2;
}


/* musicWrap */
#musicWrap {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 350px;
    height: 600px;
    background-color: #f2d8f8d2;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.music__inner {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    position: relative;
}
.music__header {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}
.music__header h2 {
    text-align: center;
    font-size: 2rem;
    font-family: "Caladea", serif;
    font-weight: 800;
}
.music__header h2 strong {
    color: #fff;
}
.music__header h2 em {
    color: #E36BA9;
}
.music__view {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}
.music__view img {
    width: 160px;
    height: 160px;
}
.music__control {
    margin-top: -95px;
    background-color: rgb(232, 187, 247);
    width: 100%;
    height: 430px;
    border-radius: 20px;
}
.music__control > .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    flex-direction: column;
    line-height: 1.5;
}
.music__control > .title h3 {
    font-family: 'Playpen Sans', cursive;
    font-weight: 800;
}
.music__control > .title span {
    color: #333;
    opacity: 0.6;
    font-weight: 800;
}
.music__control .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.music__control .bar {
    margin-top: 30px;
    width: 80%;
    border-bottom: 5px solid #fff;
    padding-bottom: 10px;
}
.music__control .bar .time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-weight: 800;
    opacity: 0.7;
}
.music__control .progress .progress {
    position: absolute;
    left: 23px;
    top: 54px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FE798A;
}
.music__control .control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.music__control .control img {
    margin: 0 10px;
    width: 60px;
    height: 60px;
}
.music__control .control .next img {
    transform: rotate(180deg);
}
.music__list {
    width: 100%;
    margin-top: -130px;
}
.music__list .scroll {
    height: 130px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
    line-height: 1.6;
    padding: 0 10px;
}