* {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-family: 'Wooridaum';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.none {
    display: none !important;
}
body {
    background-image: url(../img/quiz4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
  }
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/moviebg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 1s infinite; /* 1초 간격으로 애니메이션을 반복함 */
    align-items: center;
}
.quiz__current {
    position: absolute;
    bottom: 45px;
    left: 18px;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
}
@keyframes blink {
    0%, 100% {
      background-image: url(../img/moviebg.png);
    }
    50% {
      background-image: none;
    }
  }
/*----------------------------- main --------------------------------------------*/
#header__inner {
    width: 100%;
    height: 300px;
    text-align: center;
}
#header__inner .quizTimeOut {
    width: 100%;
    height: 100px;
    color: white;
    font-size: 60px;
    margin-top: 150px;
    word-break: keep-all;
}
/* ----------------------------- 시작 버튼 -------------------------------------------- */
#header__start {
    width: 100%;
    height: 700px;
    margin-top: 200px;
    color: white;
    font-size: 60px;
    text-align: center;
    position: relative;
}
.start h2 {
    padding: 10px;
    width: 30%;
    font-size: 38px;
    background-color: #3e3b4368;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
}
.start__bg {
    position: absolute;
    width: 80%;
    height: 80%;
    background-image: url(../img/moviebg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start p {
    margin-top: 13%;
    font-size: 45px;
}
.start__btn {
    margin-top: 50px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
    transition: all 0.3;
}
.start__btn:hover {
    background-color: #331C59;
}
.userScore {
    width: 100%;
    height: 100px;
    /* background-color: #324DB7; */
    color: white;
    font-size: 32px;
}
.rankingImage {
    height: 370px;
}
.rankingImage > img{
    height: 90%;
    margin-top: 40px;
}
.ranking {
    width: 100%;
    height: 100px;
    color: #fff;
    /* background-color: #189050; */
    font-size: 50px;
    font-weight: 800;
    margin-top: 30px;
}
/* ----------------------------- quiz start -------------------------------------------- */
.quiz__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.quiz__wrap > .quiz {
    width: 1000px;
    height: 750px;
}
.quiz__question {
    margin-top: 155px;
    width: 600px;
    font-size: 500%;
    line-height: 1.3;
    color: #fff;
    background-color: #00000085;
    border-radius: 30px;
    font-style: italic;
    text-align: center;
    font-weight: 700;
    font-family: 'EF_Macho';
}
/* ----------------------------- text -------------------------------------------- */
.header__title p {
    padding: 10px;
    width: 30%;
    font-size: 38px;
    background-color: #3e3b4368;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    transform: translateY(95px);
}
.hint .hint__text {
    margin-top: 50px;
    width: 600px;
    height: 80px;
    font-size:20px;
    font-weight: 600;
    line-height: 1.3;
    background-color: #00000085;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    display: flex; /* 텍스트를 수직 및 수평으로 가운데 정렬하기 위해 flex 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.answer__text {
    background-color: #00000085;
    width: 600px;
    height: 50px;
    font-size:25px;
    font-weight: 800;
    line-height: 50px;
    color: #D4FF00;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex; /* 텍스트를 수직 및 수평으로 가운데 정렬하기 위해 flex 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
/* ----------------------------- 정답적는 칸 -------------------------------------------- */
.quiz__input input {
    margin-top: 30px;
    width: 600px;
    height: 50px;
    background-color: #00000085;
    border: 2px solid #ccc;
    color: #fff;
    display: flex;
    font-size:25px;
    line-height: 1.5px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}
.quiz__input input:hover,
.quiz__input input:focus {
    border-color: #C2FC03;
}
.quiz__input input::placeholder {
    color: #ffffff8b;}
/* ----------------------------- 힌트 -------------------------------------------- */
.hint {
    text-align: center;
}
.hint .hint__btn {
    margin-top: 50px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
    transition: all 0.3;
}
.hint .hint__btn:hover {
    background-color: #331C59;
}
/* ----------------------------- 정답 -------------------------------------------- */
.answer__btn {
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
    display: flex;
}
.answer__btn:hover {
    background-color: #331C59;
}
/* ----------------------------- 다음 -------------------------------------------- */
.next {
    position: relative;
}
.next__btn {
    position: absolute;
    bottom: 24px;
    right:36px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
}
.next__btn:hover {
    background-color: #331C59;
}
/* ----------------------------- 넘어가기 -------------------------------------------- */
.skip__btn {
    position: absolute;
    bottom: 45px; /* 원하는 위치로 조정하세요. */
    right: 16px; /* 원하는 위치로 조정하세요. */
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    /* box-shadow: 3px 3px 3px #3E3B43; */
}
.skip__btn:hover {
    background-color: #331C59;
}
.quiz__timer > input[type=text] {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 100px;
    padding: 0 20px;
    text-align: center;
    font-size: 40px;
    background-color: #00000000;
    border-radius: 30px;
    border: none;
    color: #fff;
    outline: none;
}
/* ----------------------------- end -------------------------------------------- */
/* -----------------------------점수----------------------------- */
.quiz__score {
    position: absolute;
    bottom: 145px;
    left: 75px;
    font-size: 22px;
    border-radius: 15px;
    padding: 10px 10px;
    background-color: #00000085;
    color: #fff;
    font-weight: 800;
    border: none;
}
/* -----------------------------정답 스타일----------------------------- */
.correct {
    color: rgb(101, 249, 15);
}
.wrong {
    color: rgb(242, 77, 77);
}
.timeOut {
    width: 100%;
    height: 100vh;
    background-color: #000;
    text-align: center;
    color: #fff;
}
@media (max-width : 980px) {
    .parallax__item {
        display: none;
        /* 모바일 화면 크기에서 Parallax 효과를 제거할 스타일 설정 */
        /* 예: 모든 스타일을 초기화하거나 display: none; 설정 등을 사용할 수 있음 */
    }
    body {
        background-position: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .start h2 {
        font-size: 28px;
        margin-top: 100px;
    }
    .start p {
        font-size: 40px;
        margin-top: 100px;
    }
    .skip__btn,
    .skip__btn:hover {
        bottom: 10%;
        right: 45px;
        font-size: 16px;
    }
    .next__btn,
    .next__btn:hover {
        bottom: -30px;
        right: 45px;
        font-size: 16px;
    }
    .header__title {
        margin-top: 5%;
    }
    .header__title p {
        font-size: 35px;
    }
    .quiz__question {
        font-size: 400%;
        width: 60%;
    }
    .hint .hint__text {
        font-size: 16px;
        width: 60%;
    }
    .quiz__input input {
        width: 60%;
    }
    .answer__text {
        width: 60%;
    }
    .quiz__timer > input[type=text] {
        font-size: 30px;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        width: 50%;
    }
    .start {
        align-items: center;
    }
}
@media (max-width : 720px) {
    body {
        overflow: hidden; /* 위아래 스크롤바 숨김 */
    }
    .start h2 {
        font-size: 20px;
        margin-top: 140px;
    }
    .start p {
        font-size: 25px;
        margin-top: 110px;
    }
    .header__title{
        top: 10%
    }
    .header__title p {
        width: 50%;
        font-size: 25px;
    }
    .quiz__question {
        font-size: 200%;
        width: 60%;
    }
    .hint .hint__text {
        font-size: 16px;
        width: 60%;
    }
    #header__inner .quizTimeOut {
        width: 90%;
        font-size: 40px;
        margin-top: 133px;
    }
    .ranking {
        font-size: 35px;
    }
    .start {
        align-items: center;
    }
    .container {
        top:55px;
    }
    .quiz__timer > input[type=text] {
        font-size: 23px;
    }
    .quiz__score {
        left : 5%;
    }
    .background {
        top: 40%;
        transform: translate(-50%, -47%);
    }
    .skip__btn,
    .skip__btn:hover{
        bottom: 19%;
    }
    .start__bg {
        transform: translate(-50%, -56%);
    }
}

@media (max-width: 600px) {
    .background {
        animation: none;
        background-image: none;
    }
}

@media (max-width : 400px) {
    body {
        overflow: hidden; /* 위아래 스크롤바 숨김 */
    }
    .start h2 {
        font-size: 20px;
        width: 150px;
        margin-top: 140px;
    }
    .start p {
        font-size: 25px;
        margin-top: 110px;
    }
    .start__bg {
        width: 100%;
    }
    .header__title p {
        font-size: 25px;
        width: 170px;
    }
    .quiz__question {
        font-size: 160%;
        width: 60%;
    }
    .answer__btn,
    .answer__btn:hover {
        font-size: 16px;
    }
    .hint .hint__text {
        font-size: 16px;
        width: 60%;
    }
    .hint .hint__btn,
    .hint .hint__btn:hover {
        font-size: 100%;
    }
    .background {
        width: 100%;
        height: 85%;
        top : 35%
    }
    .quiz__input input {
        font-size: 100%;
    }
    #header__inner .quizTimeOut {
        font-size: 30px;
        height : 150px
    }
    .skip__btn,
    .skip__btn:hover {
        bottom: 45px;
        font-size: 14px;
        right: 5%;
    }
    .next__btn,
    .next__btn:hover {
        bottom: -32px;
        font-size: 14px;
        right: 5%;
    }
    .quiz__timer > input[type=text] {
        font-size: 20px;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .start {
        align-items: center;
    }
    .quiz__score {
        bottom: 41px;
        left: 15%;
        transform: translateX(-50%);
    }
    #header__inner .quizTimeOut {
        height: 95px;
        margin-top: 138px;
    }
    .quiz__current {
        left: 50%;
        transform: translateX(-50%);
    }
}