
/* board__top */
.board__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
.board__top h2 {
    font-size: 20px;
    font-weight: 900;
}
.board__top button {
    width: 80px;
    height: 35px;
    color: var(--black100);
    background-color: var(--white);
    border: 1px solid var(--black400);
    cursor: pointer;
}

/* board__search */
.search__bar {
    width: 100%;
    height: 50px;
    border: solid 1px #D2D2D7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    margin-bottom: 130px;
}
.search__bar input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    margin-left: 10px;
    overflow: auto;
}
.search__bar input:focus {
    outline: none;
    width: 100%;
    text-align: left;
}

/* board__pages */
.board__pages ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.board__pages .prev {
    position: relative;
    margin-left: 30px;
}
.board__pages .prev::before {
    content: '<';
    width: 25px;
    height: 25px;
    border: 1px solid var(--black400);
    color: var(--blue100);
    font-weight: 900;
    position: absolute;
    left: -30px;
    text-align: center;
    cursor: pointer;

}
.board__pages .next {
    position: relative;
    margin-right: 30px;
}
.board__pages .next::before {
    content: '>';
    width: 25px;
    height: 25px;
    border: 1px solid var(--black400);
    color: var(--blue100);
    font-weight: 900;
    position: absolute;
    right: -30px;
    text-align: center;
    cursor: pointer;

}


/* board__table */
.board__table {
    height: 100vh;
}
.board__table tbody tr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.board__table tbody tr td:nth-child(1) {
    width: 5%;
}
.board__table tbody tr td:nth-child(2) {
    width: 95%;
    text-align: left;
    align-items: center;
    font-size: 1.5rem;
}
.board__table tbody tr td:nth-child(3) {
    margin-left: 70px;
}
.board__table tbody tr td:nth-child(3),
.board__table tbody tr td:nth-child(4),
.board__table tbody tr td:nth-child(5),
.board__table tbody tr td:nth-child(6){
    margin-right: 20px;
    color: var(--black200);
}
.board__table tbody tr td:nth-child(1) img {
    width: 34px;
}
.footer__bottom .fb__right span img {
    width: 50px;
}

