/* 스크롤바 설정 */
::-webkit-scrollbar {
    width: 17px;  /* 세로축 스크롤바 길이 */
    height: 20px;  /* 가로축 스크롤바 길이 */
}

::-webkit-scrollbar-track-piece {
    background-color: var(--white200);
}

::-webkit-scrollbar-thumb {
    background-color: var(--white400);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--black400);
}


/* 스크롤 비활성화 스타일 */
body.disable-scroll {
    overflow-y: hidden;
    margin-right: 17px;
    box-sizing: border-box;
}

/* main */
#main {
    width: 100%;
    min-height: 70vh;
    background-color: #fff;
}    

#wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "NanumSquareNeo";
}

.container {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}

.container2 {
    width: 980px;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}

.container3 {
    width: 980px;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}

@media(max-width: 980px) {
    .container2 {
        width: 95%;
    }

    .container3 {
        width: 95%;
    }
}

/* required */
.required::after {
    content: ' *';
    color: var(--red);
    position: absolute;
}

/* btn__style */
.btn__style {
    display: block;
    background-color: var(--blue100);
    color: var(--white);
    font-size: 1rem;
    border-radius: 7px;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}

.btn__style2 {
    display: block;
    background-color: var(--black400);
    color: var(--white);
    font-size: 1rem;
    border-radius: 7px;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
}

.btn__style3 {
    display: inline-block;
    background-color: var(--blue100);
    color: var(--white);
    font-size: 1rem;
    width: 150px;
    border-radius: 200px !important;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}

/* btn__style4 */
.btn__style4 {
    width: 100%;
    display: inline-block;
    background-color: var(--blue100);
    color: var(--white);
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}

.btn__style6 {
    width: 80%;
    display: inline-block;
    background-color: var(--blue100);
    color: var(--white);
    font-size: 1rem;
    border-radius: 50px;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}

.btn__style7 {
    display: inline-block;
    background-color: var(--black400);
    color: var(--white);
    font-size: 1rem;
    width: 150px;
    border-radius: 200px !important;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}

/* line__style */
.line_-style1 {
    border-bottom: 1px solid #D6D6D6;
}

/* blind */
.blind {
    display: none;
}