/* footer */
#footer {
    width: 100%;
    height: auto;
    font-size: 14px;
}

#footer>.container {
    height: inherit;
    padding-bottom: 10px;
    text-align: left;
}
.footer__top {
    border-top: 1px solid var(--black600);
    padding: 20px 0;
}
.footer__top h2 {
    font-size: 2.5rem;
    color: var(--black200);
    font-weight: 700;
    padding: 50px 0 15px;
}


.footer__top ul li {
    display: inline-block;
    padding: 0 15px;
    color: var(--black200);
}

.footer__top ul li:first-child {
    padding-left: 0;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid var(--black600);
}
.footer__bottom

.footer__bottom p {
    padding-bottom: 5px;
    color: var(--black200);
}
.footer__bottom .fb__left {
    color: var(--black200);
}
.footer__bottom .fb__left ul li {
    word-break: keep-all;
    display: inline-block;
    margin-right: 30px;
    color: var(--black200);
    cursor: pointer;
}

.footer__bottom .fb__left ul li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.footer__bottom .fb__left ul:first-child li {
    cursor: none;
}

.footer__bottom .fb__left ul:first-child li:hover {
    text-decoration: none;
}

.footer__bottom .fb__right span {
    width: 50px;
    height: 50px;
}

.footer__bottom img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}



@media(max-width: 1380px) {
    #footer .container {
        width: 95%;
    }
}

@media(max-width: 1200px) {
    #footer .container {
        padding-bottom: 20px;
    }

    .footer__top ul li:last-child {
        padding: 0;
    }

    .footer__bottom {
        display: block;
    }

    .footer__bottom .fb__right {
        margin-top: 20px;
    }

    .footer__bottom .fb__right span img {
        width: 35px;
        height: 35px;
    }

    .footer__bottom .fb__right span:first-child img {
        margin: 0;
    }
}

@media(max-width: 980px) {
    .footer__top .ft__list2 {}

    .footer__bottom .fb__left ul {}

    .footer__top ul li {
        padding: 0;
        margin-top: 5px;
    }
}

@media(max-width: 760px) {
    .footer__bottom .fb__right span {
        width: 25px;
    }
}

@media(max-width: 600px) {
    .ft__list1 {
        display: none;
    }

    .ft__list2 {
        display: none;
    }
}