<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUST 쇼핑몰</title>

    <link rel="stylesheet" href="css/style.css">

    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="logo">
                <h1>JUST 쇼핑몰</h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">탑</a>
                        <ul class="submenu">
                            <li><a href="#">블라우스</a></li>
                            <li><a href="#">티</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">니트</a></li>
                        </ul>
                    </li>
                    <li><a href="#">아우터</a>
                        <ul class="submenu">
                            <li><a href="#">자켓</a></li>
                            <li><a href="#">코트</a></li>
                            <li><a href="#">가디건</a></li>
                            <li><a href="#">머플러</a></li>
                        </ul>
                    </li>
                    <li><a href="#">팬츠</a>
                        <ul class="submenu">
                            <li><a href="#">청바지</a></li>
                            <li><a href="#">짧은바지</a></li>
                            <li><a href="#">긴바지</a></li>
                            <li><a href="#">레깅스</a></li>
                        </ul>
                    </li>
                    <li><a href="#">악세서리</a>
                        <ul class="submenu">
                            <li><a href="#">귀고리</a></li>
                            <li><a href="#">목걸이</a></li>
                            <li><a href="#">반지</a></li>
                            <li><a href="#">팔찌</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <!-- //header -->

        <article id="slider">
            <div class="sliderWrap">
                <div class="slider">
                    <a href="#"><img src="img/slider01.jpg" alt="이미지1"></a>
                    <span>다양한 상품들</span>
                </div>
                <div class="slider">
                    <a href="#"><img src="img/slider02.jpg" alt="이미지2"></a>
                    <span>이미지2</span>
                </div>
                <div class="slider">
                    <a href="#"><img src="img/slider03.jpg" alt="이미지3"></a>
                    <span>이미지3</span>
                </div>
            </div>
        </article>
        <!-- //slider -->

        <main id="contents">
            <div class="info">
                <div class="info__menu">
                    <a href="#">공지사항</a>
                    <a href="#">갤러리</a>
                </div>
                <div class="info__contents">
                    <div class="notice">
                        <ul>
                            <li><a href="#">jUST 쇼핑몰에 오신걸 환영합니다 </a></li>
                            <li><a href="#">쇼핑몰 운영정책</a></li>
                            <li class="popup-btn"><a href="#">JUST 쇼핑몰 공지사항</a></li>
                            <li><a href="#">이달의 할인행사</a></li>
                        </ul>
                    </div>
                    <div class="gallery">
                        <ul>
                            <li><a href="#"><img src="img/gallery1.png" alt="갤러리1"></a></li>
                            <li><a href="#"><img src="img/gallery2.png" alt="갤러리2"></a></li>
                            <li><a href="#"><img src="img/gallery3.png" alt="갤러리3"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //info -->

            <section class="banner">
                <h2>JUST 쇼핑몰에서 쇼핑하기</h2>
                <a href="#">쇼핑하기</a>
            </section>
            <!-- //banner -->

            <div class="link">
                <h2>이달의 상품 구매하기</h2>
                <a href="#">바로가기</a>
            </div>
            <!-- //link -->
        </main>
        <!-- //main -->

        <footer id="footer">
            <div class="footer1">
                <h1>JUST 쇼핑몰</h1>
            </div>
            <div class="footer2">
                <p>COPYRIGHT 2023, All Rights Reseved</p>
            </div>
            <div class="footer3">
                <div class="sns">
                    <a href="#"><img src="img/instargram__icon.png" alt="facebook"></a>
                    <a href="#"><img src="img/facebook__icon.png" alt="instargram"></a>
                    <a href="#"><img src="img/github__icon.png" alt="naver"></a>
                </div>
            </div>
        </footer>
        <!-- //footer -->

        <div class="popup-view">
            <h3>JUST 쇼핑몰 공지사항</h3>
            <p>
                안녕하세요 JUST쇼핑몰에 오신걸 환영합니다. 2023년 하반기 할인행사에 관해 안내드리겠습니다.
            </p>
            <a href="#" class="popup-close">닫기</a>
        </div>
        <!-- //popup-view -->
    </div>
</body>
</html>